:root {
	--white: #ffffff;
	--black: #1B1918;
	--off-white: hwb(0 97% 3%);
	--theme-color: #00AEFF;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Light.eot');
    src: url('/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-Light.woff2') format('woff2'),
        url('/fonts/Roboto-Light.woff') format('woff'),
        url('/fonts/Roboto-Light.ttf') format('truetype'),
        url('/fonts/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Bold.eot');
    src: url('/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-Bold.woff2') format('woff2'),
        url('/fonts/Roboto-Bold.woff') format('woff'),
        url('/fonts/Roboto-Bold.ttf') format('truetype'),
        url('/fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Medium.eot');
    src: url('/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-Medium.woff2') format('woff2'),
        url('/fonts//fonts/Roboto-Medium.woff') format('woff'),
        url('Roboto-Medium.ttf') format('truetype'),
        url('/fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.eot');
    src: url('/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-Regular.woff2') format('woff2'),
        url('/fonts/Roboto-Regular.woff') format('woff'),
        url('/fonts/Roboto-Regular.ttf') format('truetype'),
        url('/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Thin.eot');
    src: url('/fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Roboto-Thin.woff2') format('woff2'),
        url('/fonts/Roboto-Thin.woff') format('woff'),
        url('/fonts/Roboto-Thin.ttf') format('truetype'),
        url('/fonts/Roboto-Thin.svg#Roboto-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: 'Roboto',sans-serif;
}
nav ul li a.nav-link{
    font-weight: 500;
    color: var(--black);
    font-size: 14px;
    transition: 0.24s linear;
}
nav ul li a.nav-link:hover{
    color: var(--theme-color);
}
nav ul li:last-child{
    margin-left: 40px;
}
nav ul li:last-child a{
    border: 1px solid #000000;
}
nav ul li:last-child a:hover{
    border-color: var(--theme-color);
}
.hero-section .carousel-item{
    position: relative;
}
.hero-section .carousel-item::before{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(6 34 53 / 0.65);
}
h1{
    font-size: 4em;
    font-weight: bold;
}
h2{
    font-size: 2.2em;
    font-weight: bold;
}
p{
    line-height: 1.68em;
}
.text-right{
    text-align: right;
}

.btn.btn-dark{
    background-color: #000000;
    padding: 10px 24px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    transition: 0.35s linear;
}
.btn.btn-dark:hover{
    background-color: #272727;
}

header .navbar-brand{
    transition: 0.15s linear;
}
header.sticky .navbar-brand{
    padding: 0;
    transition: 0.28s linear;
}
header.sticky{
    box-shadow: 0px 2px 10px #444444;
}


.hero-section {
    position: relative;
    min-height: auto;
    overflow: hidden;
}
.carousel-item {
    height: 75vh;
}
.carousel-item img {
    object-fit: cover;
    height: 100%;
}
.carousel-caption {
    bottom: auto;
    top: 35%;
    transform: translateY(-50%);
    text-align: left;
    max-width: 900px;
    padding-left: 12px;
    padding-right: 12px;
}
.carousel-caption h1 {
    margin-bottom: 1rem;
}
.carousel-caption p {
    font-size: 20px;
    margin-bottom: 2rem;
    font-weight: 300;
    line-height: 1.6em;
    max-width: 700px;
}
.carousel-indicators {
    bottom: 180px;
    gap: 6px;
}
.hero-section .slide .carousel-indicators button{
    width: 8px;
    height: 8px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    background: transparent;
}
.hero-section .slide .carousel-indicators button.active{
    background-color: #FFFFFF;
}
.filter-section{
    position: relative;
}
.filter-section .inner-container{
    position: absolute;
    width: 100%;
    max-width: 1320px;
    top: -100px;
    box-shadow: 0px 20px 40px rgba(0,0,0,0.1);
}
.filter-section select:focus{
    box-shadow: none;
}
.filter-section select{
    font-size: 16px;
    color: #333333;
    appearance: none;
    background-image: url(/images/dropdown.svg);
    background-size: 14px;
    background-position: right 10px center;
    cursor: pointer;
}
.filter-section select::selection{
    color: #6a6a6a;
}
.btn.submit-btn{
    background-color: #0096FC;
    border: 1px solid #0096FC;
}
.property-search {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: -100px;
    position: relative;
    z-index: 10;
}
.aboutus-section{
    padding: 160px 0;
}
.aboutus-section h4{
    font-weight: normal;
    padding: 5px 0 20px;
}
.aboutus-section .description p{
    font-size: 20px;
    line-height: 1.78em;
}

@media (max-width: 768px) {
    .carousel-caption {
        max-width: 90%;
        left: 5%;
    }

    .carousel-caption h1 {
        font-size: 2rem;
    }

    .carousel-caption p {
        font-size: 1rem;
    }

    .property-search {
        margin-top: -50px;
    }
}